<% title "Profile" %>


<p>Username: <%= current_user.username %></p>
<p>Firstname: <%= current_user.firstname %></p>
<p>Lastname: <%= current_user.lastname %></p>
<p>Email: <%= current_user.email %></p>
