// Place all the styles related to the computers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.computer {
    border: thin solid #000;
    margin: 10px;
    padding: 10px;
}