// Place all the styles related to the computers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.computer {
    margin: auto;
    width: 50%;
    //border: 3px solid blue;
    padding: 10px;
    text-align: center;
}

.card {
    margin: auto;
    width: 50%;
    border: 3px solid #ADD8E6;
    padding: 10px;
}

.newcomputerbutton {
    // text-align: center;
}

image_tag {
    margin: auto;
}